body{
    margin: 0;
    padding: 0;
    
}

.body{
   
    background-repeat: no-repeat;
    background: url('images/bg.jpg'); 
    background-size: 1200px 1000px;
    background-position:center;
}
header h2{
    text-align: center;
    background-color: rgb(3, 15, 72);
    color: antiquewhite;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.recipe-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    
}

#recipe-list{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
}
.recipe-item{

    width: 350px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(54, 50, 9);
    border-radius: 5px;
    background-color: rgb(224, 228, 184);
}

.recipe-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.recipe-item h2{
    margin: 0;
    padding: 10px;
    min-width: 200px;
    text-align: center;
}

.recipe-item p{
    padding: 10px;
    margin: 0;
}

.recipe-item .link{
    background-color: rgb(3, 15, 72);
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.recipe-item .link a{
    text-decoration: none;
    color: whitesmoke;
}

footer{
    background-color: rgb(3, 15, 72);
    height: 120px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links{
    display: flex;
    gap: 15px;
    margin-top: 25px;
    cursor: pointer;

}
.social-links img{
    width: 22px;
}

footer h3{
    font-size: 20px;
    color: rgb(24, 163, 206);
}